.document-card {
  padding: 0.75rem;
  border: 1px solid var(--color-file-bc);
  background-color: var(--color-bg-file-bg);
  border-radius: var(--icon-br);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: var(--icon-width);
  margin-right: 1rem;
  & > .image {}
  & > .document-name {
    display: inline-flex;
    & > .file-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      //total width minus padding on each side
      max-width: calc(var(--icon-width) - (0.75rem * 2));
    }
  }
}
