.document-card {
  padding: 0.75rem;
  border: 1px solid var(--color-bg-file-bg);
  border-radius: 0.5rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: 5rem;
  min-width: 5rem;
  margin-right: 1rem;
  background-color: white;
  & > .image {}
  & > .document-name {
    display: inline-flex;
    & > .file-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: calc(5rem - (0.75rem * 2));
    }
  }
}
