:root {
  --color-bg-chat-bg: linear-gradient(to bottom, #f8f8f8, #cbd7d0);
  --color-bg-id-card-bg-hex: #fff3ec;
  --color-bg-id-card-bg: opacify(var(--color-bg-id-card-bg-hex), 0.75);
  --color-bg-file-bg: #497d7e;
  --color-id-card-rust: #b95319;
  --color-id-card-green: #96ad90;
  --color-id-card-black: #232c27;
  --color-icon-charcoal-blue: #2f4858;

  --color-id-card-border: #888888;
}
