.burger-menu {
  //position: absolute;
  //left: 1rem;
  //top: 1rem;
  padding: 1rem;
}
.app-container {
  padding-bottom: 2rem;
  background: var(--color-bg-chat-bg);
  @media screen and (max-width: 50em){
    //background-color: blue;
  }
}
