<article class="id-card" >
  <div class="content">
    <div class="header">
      <span class="id-logo">
        <h1>ID</h1>
        <span><i class="fas fa-user"></i></span>
      </span>
    </div>
    <section></section>
    <section></section>
    <section></section>
    <section>
      @for (idCardDocument of idCard.documents; track idCardDocument.fileName) {
       <app-id-card-document [fileName]="idCardDocument.fileName" [documentType]="idCardDocument.documentType"/>
      }
    </section>
  </div>
</article>
