.id-card {
  border: 2px solid var(--color-id-card-green);
  background-color: var(--color-bg-id-card-bg);
  padding: 0rem 2rem;
  margin: 1rem auto 0 auto;
  max-width: var(--id-card-width);
  transition: background-color 150ms ease;
  border-radius: 0.5rem;
  box-shadow: var(--color-id-card-shadow);

  &.edit-mode {
    border: 2px dashed var(--color-id-card-rust);
    background-color: transparent;
  }

  @media screen and (max-width: 30em){
    padding: 0.25rem;
    width: 100%;
  }
}
.section > h2.title {
  color: var(--color-id-card-rust);
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0;
  font-weight: 700;
}
//targets the 'ID' h1 use.
//only a single h1 is used throughout the app
h1 {
  color: var(--color-id-card-rust);
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;
  font-weight: 600;
}
.account-info {
  display: grid;
  grid-template-columns: 2fr 3fr;
  //on small viewports transition from two columns to one
  @media screen and (max-width: 50em){
    grid-template-columns: 1fr;
  }
}
.item-name {
  font-weight: bold;
  color: var(--color-id-card-black);
}
.information {
  text-align: right;
  color: var(--color-id-card-black);
}

//header containing 'ID' and edit button
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section#address > .info > .info-item {
  grid-template-columns: 1fr 5fr;

  //small screens -> 1fr 2fr
  @media screen and (max-width: 50em){
    grid-template-columns: 1fr 2fr;
  }
}
.section#pii > .info > .info-item {
  //change on very small viewports (such as phones)
  @media screen and (max-width: 40em){
    grid-template-columns: 40% 50%
  }

  //smallest viewport media query
  @media screen and (max-width: 30em){
    grid-template-columns: 50% 50%
  }

  & > span:last-child {
    margin-left: 1rem;
  }
}
.section {
  margin-bottom: 2rem;
}
.info-item {
  display: grid;
  grid-template-columns: 40% 50%;
  justify-items: start;
  align-items: center;

  @media screen and (max-width: 50em){
    grid-template-columns: 30% 50%;
  }
  margin-bottom: 0.5rem;
}
.info-item > span:last-child {
  margin-left: 0.5rem;
  @media screen and (max-width: 30em){
    margin-left: 0.25rem;
    overflow-wrap: break-word;
  }
}
.id-logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.toggle-edit-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  & > i.icon {
    color: var(--color-id-card-rust);
  }
}

.icon-user {
  color: var(--color-id-card-rust);
  margin-left: 0.5rem;
}
