<article class="id-card" [ngClass]="{'edit-mode': isEditing()}">
  <div class="content">
    <div class="header">
      <span class="id-logo">
        <h1>ID</h1>
        <span><i class="fas fa-user fa-lg icon icon-user"></i></span>
      </span>
      <!--button binds onClick event to toggleEditing function so clicking the button toggles edit mode state-->
      <button class="toggle-edit-button" (click)="toggleEditing()">
        <!--dynamically change icon by changing class names based on isEditing signal value-->
        <i class="fas fa-xl icon icon-toggle-edit" [ngClass]="{'fa-pen': !isEditing(), 'fa-check': isEditing()}"></i>
      </button>
    </div>
    <section class="section">
      <h2 class="title heading-2">Account Information</h2>
      <div class="account-info">
        <div class="name">
          <div class="info-item">
            <span class="item-name heading-2">First Name</span>
            <span class="body-1">{{ idCard.firstName }}</span>
          </div>
          <div class="info-item">
            <span class="item-name heading-2">Last Name</span>
            <span class="body-1">{{ idCard.lastName }}</span>
          </div>
        </div>
        <div class="contact-info">
          <div class="info-item">
            <span class="item-name heading-2">Registered Email</span>
            <span class="information body-1">{{ idCard.email }}</span>
          </div>
          <div class="info-item">
            <span class="item-name heading-2">Cell Phone Number</span>
            <span class="information body-1">{{ idCard.phoneNumber }}</span>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="address">
      <h2 class="title heading-2">Address</h2>
      <div class="info">
        <div class="info-item">
          <span class="item-name heading-2">Home Address</span>
          <span class="body-1">{{ idCard.homeAddress }}</span>
        </div>
        <div class="info-item">
          <span class="item-name heading-2">Mailing Address</span>
          <span class="body-1">{{ idCard.mailingAddress }}</span>
        </div>
      </div>
    </section>

    <section class="section" id="pii">
      <h2 class="title heading-2">Personally Identifiable Information</h2>
      <div class="info">
        <div class="info-item">
          <span class="item-name heading-2">Social Security Numbers(SSNs)</span>
          <span class="body-1">{{ idCard.ssn }}</span>
        </div>
        <div class="info-item">
          <span class="item-name heading-2">Date of Birth</span>
          <span class="body-1">{{idCard.dateOfBirth}}</span>
        </div>
        <div class="info-item">
          <span class="item-name heading-2">Medicare Beneficiary Identifiers (MBIs)</span>
          <span class="body-1">{{ idCard.mbi }}</span>
        </div>
      </div>
    </section>
    <section class="section">
      <h2 class="title heading-2">Documents</h2>
      <!--loop through documents of id card and map to app-id-card-document component
          use the file name of document as unique key-->
      @for (idCardDocument of idCard.documents; track idCardDocument.fileName) {
       <app-id-card-document [fileName]="idCardDocument.fileName" [documentType]="idCardDocument.documentType"/>
      }
    </section>
  </div>
</article>
